@charset "UTF-8";

@media screen and (max-width: 1200px) {
    .header{padding: 0 10px;}
    .gnb-inner{padding: 0 10px;}
    .gnb-inner-ly{width: 100%;}
}

@media screen and (max-width: 1024px) {
    .header{padding: 0 10px;}
    .gnb-inner{padding: 0 10px;}
    .gnb-inner-ly{width: 100%;}
}