@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
/* 공통요소속성 */
.blind {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  text-indent: -9999px;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

body {
  font-family: "Roboto", "Noto Sans KR", Arial, verdana, sans-serif !important;
}

/* 모바일메뉴 */
.mobile-menu {
  position: fixed;
  display: none;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #222;
}
.mobile-menu .container {
  padding: 0 30px;
}
.mobile-menu .container .mobile-menu-bar {
  display: flex;
  justify-content: space-between;
  height: 68px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.mobile-menu .container .mobile-menu-bar .moda-logoBt-wrap {
  display: block;
}
.mobile-menu .container .mobile-menu-bar .moda-logoBt-wrap a {
  width: 150px;
  display: block;
}
.mobile-menu .container .mobile-menu-bar .moda-logoBt-wrap a img {
  width: 100%;
}
.mobile-menu .container .mobile-menu-bar .mobile-appBar-wrap {
  width: 22px;
  height: 14px;
  display: block;
}
.mobile-menu .container .mobile-menu-bar .mobile-appBar-wrap a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.mobile-menu .container .mobile-menu-bar .mobile-appBar-wrap a i {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  top: 50%;
  margin-top: -1px;
}
.mobile-menu .container .mobile-menu-bar .mobile-appBar-wrap a i.appbar-line1 {
  transform: rotate(45deg);
}
.mobile-menu .container .mobile-menu-bar .mobile-appBar-wrap a i.appbar-line2 {
  transform: rotate(-45deg);
}
.mobile-menu .container .mobile-menu-list {
  width: 100%;
}
.mobile-menu .container .mobile-menu-list ul {
  width: 100%;
}
.mobile-menu .container .mobile-menu-list ul li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.mobile-menu .container .mobile-menu-list ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  transition: 0.2s;
}
.mobile-menu .container .mobile-menu-list ul li a:hover {
  color: #dc000c;
}
.mobile-menu .container .mobile-menu-footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  padding-top: 20px;
  line-height: 140%;
  font-weight: 500;
}
.mobile-menu .container .mobile-menu-footer .mobile-menu-footer-button {
  margin-top: 20px;
}
.mobile-menu .container .mobile-menu-footer .mobile-menu-footer-button button {
  display: inline-block;
  padding: 5px 10px;
  background: #999;
  border-radius: 4px;
  margin-right: 5px;
  transition: 0.3s;
}
.mobile-menu .container .mobile-menu-footer .mobile-menu-footer-button button:hover {
  background: #fff;
}
.mobile-menu .container .mobile-menu-footer .mobile-menu-footer-sns {
  margin-top: 20px;
}
.mobile-menu .container .mobile-menu-footer .mobile-menu-footer-sns span {
  display: inline-block;
  margin: 0 4px;
}
.mobile-menu .container .mobile-menu-footer .mobile-menu-footer-sns span a {
  width: 27px;
  height: 27px;
  display: block;
  border-radius: 50%;
  background: #aaa;
  text-align: center;
  transition: 0.3s;
}
.mobile-menu .container .mobile-menu-footer .mobile-menu-footer-sns span a:hover {
  background: #fff;
}
.mobile-menu .container .mobile-menu-footer .mobile-menu-footer-sns span a i {
  display: block;
  color: #222;
  font-size: 15px;
  line-height: 27px;
}

/* 헤더부분 */
.header {
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
}
.header > .container {
  width: 100%;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.header-mobile-menu-bar {
  display: none;
}
.header-mobile-menu-bar div {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #fff;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ddd;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 20px;
  box-sizing: border-box;
}
.header-mobile-menu-bar div .header-appBar-wrap {
  width: 22px;
  height: 14px;
}
.header-mobile-menu-bar div .header-appBar-wrap a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.header-mobile-menu-bar div .header-appBar-wrap a i {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  left: 0;
}
.header-mobile-menu-bar div .header-appBar-wrap a i.appbar-line1 {
  top: 0;
}
.header-mobile-menu-bar div .header-appBar-wrap a i.appbar-line2 {
  top: 50%;
}
.header-mobile-menu-bar div .header-appBar-wrap a i.appbar-line3 {
  top: 100%;
}
.header-mobile-menu-bar div .header-search-wrap a {
  color: #000;
}
.header-mobile-menu-bar div .header-search-wrap a i {
  font-size: 20px;
}
.header-top {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-btm {
  width: 100%;
  height: 60px;
  display: flex;
}
.header-dimmed {
  /* display: none; */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  height: 100px;
}

.header-util {
  font-size: 0;
}
.header-util .search {
  vertical-align: middle;
  margin-right: 27px;
}
.header-util a {
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #666;
  padding: 0 8px;
  vertical-align: middle;
}
.header-util a + a::before {
  position: absolute;
  left: 0;
  top: 5px;
  content: "";
  width: 1px;
  height: 10px;
  background: #e6e6e6;
}
.header-util a:last-child {
  padding-right: 0;
}

.header-logo > a {
  display: block;
  width: 115px;
  height: 44px;
  background: url(../images/logo.svg) no-repeat center center/100%;
}

/* 메뉴부분 */
.gnb {
  flex-grow: 1;
  padding-left: 25px;
}
.gnb-1depth {
  display: flex;
  align-items: center;
}
.gnb-1depth-item {
  float: left;
  height: 100%;
  margin-right: 35px;
}
.gnb-1depth-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 5px 0;
  box-sizing: border-box;
  letter-spacing: -0.17px;
  font-size: 17px;
  font-weight: 500;
  color: #000;
}
.gnb-1depth-link.on:before {
  display: block;
  position: absolute;
  content: "";
  width: calc(100% - 10px);
  height: 4px;
  background: #dc000c;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.gnb-1depth-link--etc::after {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/ico_header_link_black.svg) no-repeat center/20px;
  vertical-align: -3px;
  margin-left: 3px;
}
.gnb-inner {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 600px;
  background: skyblue;
  border-top: 1px solid #e6e6e6;
  display: none;
}
.gnb-inner-ly {
  position: relative;
  width: 1200px;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}
.gnb-inner ul {
  background: pink;
  position: absolute;
  top: 0;
  width: 200px;
  /* display: none; */
}
.gnb-inner ul li + li {
  margin-top: 15px;
}
.gnb-inner ul li > a {
  position: relative;
  display: inline-block;
  font-size: 16px;
}
.gnb .is-line::before {
  position: absolute;
  content: "";
  top: 100%;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.gnb .is-line:hover, .gnb .is-line:focus {
  font-weight: 500;
}
.gnb .is-line:hover::before, .gnb .is-line:focus::before {
  width: 100%;
}
.gnb .is-arrow::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/ico_gnb_arrow_right.svg) no-repeat right top/16px 16px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: right 0.3s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.2s cubic-bezier(0.77, 0.06, 0.28, 0.85);
}
.gnb .is-arrow:hover::after {
  opacity: 1;
  right: -30px;
}
.gnb-2depth {
  left: 0;
}
.gnb-3depth {
  left: 220px;
}
.gnb-4depth {
  left: 220px;
}
.gnb-banner {
  position: fixed;
  top: 0;
  right: 0;
  width: 290px;
  z-index: 999;
  /* display: none; */
}
.gnb-banner .img {
  width: 290px;
  height: 290px;
}
.gnb-banner .img img {
  width: 100%;
  transition: transform 0.5s;
}
.gnb-banner .tit {
  margin-top: 19px;
  font-size: 14px;
  line-height: 20px;
}
.gnb-banner .txt {
  display: inline-block;
  margin-top: 4px;
  font-size: 18px;
  font-weight: 700;
}
.gnb-banner .txt::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/ico_gnb_arrow_right.svg) no-repeat right top/16px 16px;
  margin-left: 5px;
  vertical-align: -1px;
}
.gnb-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.gnb-right .gnb-1depth-item {
  margin-right: 25px;
}
.gnb-right .gnb-1depth-link {
  font-size: 14px;
}
.gnb-1depth-btn {
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  letter-spacing: -0.14px;
  min-width: 80px;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  background: #dc000c;
  text-align: center;
  display: inline-block;
  color: #fff;
  margin-left: 5px;
}
.gnb-1depth-btn.black {
  background: #000;
}

/* 메인 */
#container {
  padding-top: 100px;
  padding-bottom: 120px;
}

.contents.page-home {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main-kv {
  position: relative;
  height: 700px;
  /* visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s; */
  /*  &_prograss{
       &-inner{

       }
   }
   &_pager{

   } */
}
.main-kv .swiper {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.main-kv_conts {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}
.main-kv_img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.main-kv_ly {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 1200px;
  height: 100%;
}
.main-kv_desc {
  margin-top: 180px;
  margin-left: 78px;
  width: 600px;
  /* .desc-state{} */
}
.main-kv_desc .desc-txt {
  display: block;
  margin-top: 5px;
  font-size: 19px;
  line-height: 1.53;
  letter-spacing: -0.19px;
  color: #fff;
}
.main-kv_desc .desc-tit {
  display: block;
  margin-top: 10px;
  font-size: 66px;
  line-height: 1.2;
  color: #fff;
  word-break: keep-all;
}
.main-kv_desc .desc-more {
  display: inline-block;
  padding: 14px 32px 15px 32px;
  line-height: 1;
  background: #dc000c;
  color: #fff;
  margin-top: 50px;
  border-radius: 28px;
  font-size: 18px;
  text-align: center;
}
.main-kv_desc .color-000 {
  color: #000;
}/*# sourceMappingURL=style.css.map */