@charset 'utf-8';

$header-full-type : '.header.full-type';
$gnb-h: 680px;


.header{
    position: fixed;
    background: rgb(255, 167, 167);
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100px;
    >.container{
        width: 100%;
        height: 100px;
        max-width: 1200px;
        margin: 0 auto;
        background: rgba(0,0,0,.3);
        display: flex;
        flex-direction: column;
    }
    &-top{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &-btm{
        
    }
    &-dimmed{
        //js
    }
}
.header-util{
    font-size: 0;
}
.header-logo{
    
}
.gnb{

}