@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
/* 공통요소속성 */
.blind {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  text-indent: -9999px;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

body {
  font-family: "Roboto", "Noto Sans KR", Arial, verdana, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

/* 헤더부분 */
.header {
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
}
.header > .container {
  width: 100%;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.header-top {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-btm {
  width: 100%;
  height: 60px;
  display: flex;
}
.header-dimmed {
  /* display: none; */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  height: 100px;
}

.header-util {
  font-size: 0;
}
.header-util .search {
  vertical-align: middle;
  margin-right: 27px;
}
.header-util a {
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #666;
  padding: 0 8px;
  vertical-align: middle;
}
.header-util a + a::before {
  position: absolute;
  left: 0;
  top: 5px;
  content: "";
  width: 1px;
  height: 10px;
  background: #e6e6e6;
}
.header-util a:last-child {
  padding-right: 0;
}

.header-logo > a {
  display: block;
  width: 115px;
  height: 44px;
  background: url(../images/logo.svg) no-repeat center center/100%;
}

.gnb {
  flex-grow: 1;
  padding-left: 25px;
}
.gnb-1depth {
  display: flex;
  align-items: center;
}
.gnb-1depth-item {
  float: left;
  height: 100%;
  margin-right: 35px;
}
.gnb-1depth-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 5px 0;
  box-sizing: border-box;
  letter-spacing: -0.17px;
  font-size: 17px;
  font-weight: 500;
  color: #000;
}
.gnb-1depth-link.on:before {
  display: block;
  position: absolute;
  content: "";
  width: calc(100% - 10px);
  height: 4px;
  background: red;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.gnb-1depth-link--etc::after {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/ico_header_link_black.svg) no-repeat center/20px;
  vertical-align: -3px;
  margin-left: 3px;
}
.gnb-inner {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 500px;
  background: skyblue;
  border-top: 1px solid #e6e6e6;
}
.gnb-inner-ly {
  position: relative;
  width: 1200px;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}
.gnb-inner ul {
  background: pink;
  position: absolute;
  top: 0;
  width: 200px;
  /* display: none; */
}
.gnb-inner ul li + li {
  margin-top: 15px;
}
.gnb-inner ul li > a {
  position: relative;
  display: inline-block;
  font-size: 16px;
}
.gnb .is-line::before {
  position: absolute;
  content: "";
  top: 100%;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.gnb .is-line:hover, .gnb .is-line:focus {
  font-weight: 500;
}
.gnb .is-line:hover::before, .gnb .is-line:focus::before {
  width: 100%;
}
.gnb .is-arrow::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/ico_gnb_arrow_right.svg) no-repeat right top/16px 16px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: right 0.3s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.2s cubic-bezier(0.77, 0.06, 0.28, 0.85);
}
.gnb .is-arrow:hover::after {
  opacity: 1;
  right: -30px;
}
.gnb-2depth {
  left: 0;
}
.gnb-3depth {
  left: 220px;
}
.gnb-4depth {
  left: 220px;
}
.gnb-banner {
  position: fixed;
  top: 0;
  right: 0;
  width: 290px;
  z-index: 999;
  /* display: none; */
}
.gnb-banner .img {
  width: 290px;
  height: 290px;
}
.gnb-banner .img img {
  width: 100%;
  transition: transform 0.5s;
}
.gnb-banner .tit {
  margin-top: 19px;
  font-size: 14px;
  line-height: 20px;
}
.gnb-banner .txt {
  display: inline-block;
  margin-top: 4px;
  font-size: 18px;
  font-weight: 700;
}
.gnb-banner .txt::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/ico_gnb_arrow_right.svg) no-repeat right top/16px 16px;
  margin-left: 5px;
  vertical-align: -1px;
}
.gnb-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.gnb-right .gnb-1depth-item {
  margin-right: 25px;
}
.gnb-right .gnb-1depth-link {
  font-size: 14px;
}
.gnb-1depth-btn {
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  letter-spacing: -0.14px;
  min-width: 80px;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  background: #dc000c;
  text-align: center;
  display: inline-block;
  color: #fff;
  margin-left: 5px;
}
.gnb-1depth-btn.black {
  background: #000;
}/*# sourceMappingURL=style.css.map */