@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');


$white: #fff;
$white-opcity:rgba(255,255,255,.6);
$orange: rgba(169,108,22, 1);
$gray: #aaa;
$black: #222;
$color-red: #dc000c;
$color-blue: #0b5cc7;
$color-fff: #fff;
$color-000: #000;
$color-111: #111;
$color-666: #666;
$color-999: #999;
$color-f3f3f3: #f3f3f3;
$color-f6f6f6: #f6f6f6;
$color-f9f9f9: #f9f9f9;
$color-e6e6e6: #e6e6e6;
$color-eee: #eee;
$color-ccc: #ccc;

$header-height:100px;
$gnb-h: 680px;
$fw-b: 700;

/* 공통요소속성 */
.blind{
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    text-indent: -9999px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}

body{
    font-family: 'Roboto', 'Noto Sans KR', Arial, verdana, sans-serif !important;
}

/* 모바일메뉴 */
.mobile-menu{
    position: fixed;
    display: none;
    top: 0; 
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: $black;
    .container{
        padding: 0 30px;
        .mobile-menu-bar{
            display: flex;
            justify-content: space-between;
            height: 68px;
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,.15);
            .moda-logoBt-wrap{
                display: block;
                a{
                    width: 150px;
                    display: block;
                    img{
                        width: 100%
                    }
                }
            }
            .mobile-appBar-wrap{
                width: 22px; height: 14px; display: block;
                a{
                    display: block;
                    position: relative;
                    width:100%;
                    height: 100%; 
                    i{
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: $white;
                        top: 50%;
                        margin-top: -1px;
                        &.appbar-line1{transform: rotate(45deg)}
                        &.appbar-line2{transform: rotate(-45deg)}
                    }
                }
            }
        }
        .mobile-menu-list{
            width: 100%;
            ul{
                width: 100%;
                li{
                    padding: 10px 0;
                    border-bottom: 1px solid rgba(255,255,255,.15);
                    a{
                        color: $white-opcity;
                        font-size: 16px;
                        &:hover{color: $color-red}
                        transition: .2s;
                    }
                }
            }
        }
        .mobile-menu-footer{
            p{
                color:$white-opcity;
                font-size: 16px;
                padding-top: 20px;
                line-height: 140%;
                font-weight: 500;
            }
            .mobile-menu-footer-button{
                margin-top: 20px;
                button{
                    display: inline-block;
                    padding: 5px 10px;
                    background: $color-999;
                    border-radius: 4px;
                    margin-right: 5px;
                    transition: .3s;
                    &:hover{
                        background: $white;
                    }
                }
            }
            .mobile-menu-footer-sns{
                margin-top: 20px;
                span{
                    display: inline-block;
                    margin: 0 4px;
                    a{
                        width: 27px; 
                        height: 27px;
                        display: block;
                        border-radius: 50%;
                        background: $gray;
                        text-align: center;
                        transition: .3s;
                        &:hover{
                            background: $white;
                        }
                        i{
                            display: block;
                            color: $black;
                            font-size: 15px;
                            line-height: 27px;
                        }
                    }
                }
            }
        }
    }
}
/* 헤더부분 */
.header{
    position: fixed;
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100px;
    >.container{
        width: 100%;
        height: 100px;
        max-width: 1200px;
        margin: 0 auto;
        background: rgba(0,0,0,.3);
        display: flex;
        flex-direction: column;
    }
    &-mobile-menu-bar{
        display:none;
        div{ 
            display: flex; justify-content: space-between; 
            position: relative;
            background: #fff;
            width: 100%;
            height: 70px;
            border-bottom: 1px solid #ddd;
            align-items: center;
            top: 0;
            left: 0;
            padding: 0 20px;
            box-sizing: border-box; 
            .header-appBar-wrap{
                width: 22px;
                height: 14px;
                a{ 
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    i{
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        left:0;
                        &.appbar-line1{top:0}
                        &.appbar-line2{top: 50%;}
                        &.appbar-line3{top: 100%}
                    }
                }
            }
            .header-search-wrap{
                a{color: #000;
                    i{font-size: 20px;}
                }
            }
        }
    }
    &-top{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &-btm{
        width: 100%;
        height: 60px;
        display: flex;
    }
    &-dimmed{
        //hover시 배경 rgba
        //js에서 add/remove class
        /* display: none; */
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: -1;
        height: $header-height;

    }
}
.header-util{
    font-size: 0;
    .search{
        vertical-align: middle;
        margin-right: 27px;
    }
    a{
        display: inline-block;
        position: relative;
        font-size: 14px;
        color: #666;
        padding: 0 8px;
        vertical-align: middle;
        &+a::before{
            position: absolute;
            left: 0;
            top: 5px;
            content: "";
            width: 1px;
            height: 10px;
            background: #e6e6e6;
        }
        &:last-child{
            padding-right: 0;
        }
    }
}
.header-logo{
    >a{
        display: block;
        width: 115px;
        height: 44px;
        background: url(../images/logo.svg) no-repeat center center/100%;
    }
}

/* 메뉴부분 */
.gnb{
    flex-grow: 1;
    padding-left: 25px;
    &-1depth{
        display: flex;
        align-items: center;
    }
    &-1depth-item{
        float: left;
        height: 100%;
        margin-right: 35px;
    }
    &-1depth-link{
        position: relative;
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0 5px 0;
        box-sizing: border-box;
        letter-spacing: -0.17px;
        font-size: 17px;
        font-weight: 500;
        color: #000;
        &.on:before{
            //js
            display: block;
            position: absolute;
            content: "";
            width: calc(100% - 10px);
            height: 4px;
            background: $color-red;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    //바로가기아이콘
    &-1depth-link--etc::after{
        display: inline-block;
        content: "";
        width: 20px;
        height: 20px;
        background: url(../images/ico_header_link_black.svg) no-repeat center/20px;
        vertical-align: -3px;
        margin-left: 3px;
    }
    &-inner{
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        height: 600px;
        background: skyblue;
        border-top: 1px solid #e6e6e6;
        display: none;
        &-ly{
            position: relative;
            width: 1200px;
            top: 50px;
            left: 50%;
            transform: translate(-50%);
            z-index: 2;
        }
        ul{
            background: pink;
            position: absolute;
            top: 0;
            width: 200px;
            /* display: none; */
            li{
                &+li{
                    margin-top: 15px;
                }
                >a{
                    position: relative;
                    display: inline-block;
                    font-size: 16px;
                }
            }
        }
    }
    .is-line{
        //밑줄
        &::before{
            position: absolute;
            content: "";
            top: 100%;
            width: 0;
            height: 2px;
            background: #000;
            transition: width .3s;

        }
        &:hover,
        &:focus{
            font-weight: 500;
            &::before{
                width: 100%;
            }
        }
    }
    .is-arrow{
        //화살표
        &::after{
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            background: url(../images/ico_gnb_arrow_right.svg) no-repeat right top/16px 16px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: right .3s cubic-bezier(0.77, 0, 0.175, 1), opacity .2s cubic-bezier(0.77, 0.06, 0.28, 0.85);
        }
        &:hover::after{
            opacity: 1;
            right: -30px;
        }
    }
    &-2depth{
        left: 0;
    }
    &-3depth{
        left: 220px;
    }
    &-4depth{
        left: 220px;
    }
    &-banner{
        position: fixed;
        top: 0;
        right: 0;
        width: 290px;
        z-index: 999;
        /* display: none; */ //js로 block 시킬것
        .img{
            width: 290px;
            height: 290px;
            img{
                width: 100%;
                transition: transform .5s;
            }   
        }
        .tit{
            margin-top: 19px;
            font-size: 14px;
            line-height: 20px;
        }
        .txt{
            display: inline-block;
            margin-top: 4px;
            font-size: 18px;
            font-weight: $fw-b;
            &::after{
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url(../images/ico_gnb_arrow_right.svg) no-repeat right top/16px 16px;
                margin-left: 5px;
                vertical-align: -1px;
            }
        }
    }
    &-right{
        display: flex;
        align-items: center;
        margin-left: auto; //왼쪽에 가장 큰 마진->우측으로 붙음
        .gnb-1depth-item{
            margin-right: 25px;
        }
        .gnb-1depth-link{
            font-size: 14px;
        }
    }
    &-1depth-btn{
        font-size: 14px;
        font-weight: normal;
        line-height: 2.14;
        letter-spacing: -0.14px;
        min-width: 80px;
        height: 30px;
        padding: 0 10px;
        border-radius: 4px;
        background: $color-red;
        text-align: center;
        display: inline-block;
        color: #fff;
        margin-left: 5px;
        &.black{background: #000;}
    }
}

/* 메인 */
#container{
    padding-top: 100px;
    padding-bottom: 120px;
}
.contents.page-home{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.main-kv{
    position: relative;
    height: 700px;
    /* visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s; */
    .swiper{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
    }
    &_conts{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #000;
        color: #fff;
    }
    &_img{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    &_ly{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        width: 1200px;
        height: 100%;

    }
    &_desc{
        margin-top: 180px;
        margin-left: 78px;
        width: 600px;
        /* .desc-state{} */
        .desc-txt{
            display: block;
            margin-top: 5px;
            font-size: 19px;
            line-height: 1.53;
            letter-spacing: -0.19px;
            color: $color-fff;
        }
        .desc-tit{
            display: block;
            margin-top: 10px;
            font-size: 66px;
            line-height: 1.2;
            color: $color-fff;
            word-break: keep-all;
        }
        .desc-more{
            display: inline-block;
            padding: 14px 32px 15px 32px;
            line-height: 1;
            background: $color-red;
            color: $color-fff;
            margin-top: 50px;
            border-radius: 28px;
            font-size: 18px;
            text-align: center;
        }
        .color-000{color: $color-000;}
    }
   /*  &_prograss{
        &-inner{

        }
    }
    &_pager{

    } */
}