/*반응형 화면 크기*/
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile{
    @media (max-width: $mobile){

    }
}

@mixin tablet{
    @media (max-width: $tablet){

    }
}

@mixin mobile{
    @media (max-width: $desktop){

    }
}

